.light,
.palette-default.light {
    --background: #ffffff;
    --secondary: #F1F1F1;
    --tertiary: #e7e7e7;
    --400: #8d8d8d;
    --300: #6b6b6b;
    --200: #3e3e3e;
    --100: #272727;
}

.dark,
.palette-default.dark {
    --background: #1c1c1c;
    --secondary: #282828;
    --tertiary: #333333;
    --400: #8d8d8d;
    --300: #b0b0b0;
    --200: #dddddd;
    --100: #f4f4f4;
}

.light {
    --accent-background: #F5FAFF;
    --accent-secondary: #E1F0FF;
    --accent-tertiary: #CEE7FE;
    --accent-400: #96C7F2;
    --accent-300: #0091FF;
    --accent-200: #006ADC;
    --accent-100: #00254D;
}

.dark {
    --accent-background: #0F1B2D;
    --accent-secondary: #10243E;
    --accent-tertiary: #102A4C;
    --accent-400: #0954A5;
    --accent-300: #0091FF;
    --accent-200: #52A9FF;
    --accent-100: #EAF6FF;
}

input {
    background-color: var(--secondary);
    border: none;
    outline: none;
}
