@import "@fontsource/nunito-sans";
@import "@fontsource/rubik";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background: #FFFFFF;
    --secondary: #F6F6F6;
    --tertiary: #E7E7E7;
    --400: #8D8D8D;
    --300: #6B6B6B;
    --200: #3E3E3E;
    --100: #272727;
}

.dark {
    --background: #1C1C1C;
    --secondary: #282828;
    --tertiary: #333333;
    --400: #8D8D8D;
    --300: #B0B0B0;
    --200: #DDDDDD;
    --100: #F4F4F4;
}

:root {
    color: var(--100);
    background-color: var(--background);
    font-family: "Nunito Sans", sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}