/* Rubik normal [400], medium [500] */
@import "@fontsource/rubik";
@import "@fontsource/rubik/500.css";

/* Noto Sans normal [400], medium [500] */
@import "@fontsource/noto-sans";
@import "@fontsource/noto-sans/500.css";

/* Noto Sans JP for Japanese support */
@import "@fontsource/noto-sans-jp";

@import "./css/themes.css";
@import "./css/elevations.css";
@import "./css/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar_height: 4rem;

	color: var(--100);
	background-color: var(--background);
	font-family: "Nunito Sans", "Nunito Sans Jp", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

input {
	caret-color: var(--accent-200);
}

::selection {
	background-color: var(--accent-tertiary);
	color: var(--accent-100);
}

::-webkit-scrollbar {
	background-color: var(--secondary);
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tertiary);
}
