@import "./themes.css";
@import "@fontsource/nunito-sans";
@import "@fontsource/rubik";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--navbar_height: 4rem;

	color: var(--100);
	background-color: var(--background);
	font-family: "Nunito Sans", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
}

.escape_navbar {
	margin-top: var(--navbar_height);
}

::-webkit-scrollbar {
	background-color: var(--secondary);
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--tertiary);
}